<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.floppysoftware.benitogg" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/zeta_app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.PrincipalActivity"
            android:label="@string/zeta_app_name" >
        </activity>
        <activity
            android:name=".activities.MapaActivity"
            android:label="@string/zeta_app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/zeta_app_name"
            android:theme="@style/AppTheme.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CasosActivity"
            android:label="@string/zeta_app_name" >
        </activity>
        <activity
            android:name=".activities.JuegoActivity"
            android:label="@string/title_activity_juego" >
        </activity>
    </application>

</manifest>
