<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.floppysoftware.benitogg" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.app.floppysoftware.benitogg.PrincipalActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.app.floppysoftware.benitogg.MapaActivity"
            android:label="@string/title_activity_mapa"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.app.floppysoftware.benitogg.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.floppysoftware.benitogg.CasosActivity"
            android:label="@string/title_activity_casos"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>
