# ------------------------------------------
# Proyecto: Benito G. G.
# Autor:    Miguel I. García López
#           Florida Universitaria, Catarroja
# ------------------------------------------
#
# --------------
# Android Studio
# --------------
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.apk
# ----------------------
# Thumbnails de imágenes
# ----------------------
Thumbs.db
# -----------
# Directorios
# -----------
/BenitoGG
/cosas
/docs
/memoria
/presentacion
/web
